<html>
<body>
    <table width="900" cellpadding="0" cellspacing="0" style="background-color:white;margin: 5px;border:1px solid  #333; border-collapse: collapse;text-align: left; color: #030d11; font-family: Arial, sans-serif; font-size: 16px;">
        <tr>
            <td style="color:white; border:1px solid  #333;text-align: center;padding: 7px;background-color:#F26522" colspan="2"><strong>Informaçõe cotação</strong></td>
        </tr>
        <tr>
            <td nowrap style="border:1px solid  #333;padding: 5px;vertical-align: text-top;">Data da solicitação de reanalise:</td>
            <td style="border:1px solid  #333; padding: 5px;vertical-align: text-top;">é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques</td>
        </tr>
        <tr>
            <td nowrap style="border:1px solid  #333; padding: 5px;vertical-align: text-top;">Dados do estipulante:</td>
            <td style="border:1px solid  #333; padding: 5px;vertical-align: text-top;">Jackson</td>
        </tr>
        <tr>
            <td nowrap style="border:1px solid  #333; padding: 5px;vertical-align: text-top;">Coberturas Inseridas:</td>
            <td style="border:1px solid  #333; padding: 5px;vertical-align: text-top;">

                <table>
                    <tr>
                        <td>Aluguel:</td>
                        <td>R$ 1000,00</td>
                    </tr>
                    <tr>
                        <td>Energia:</td>
                        <td>R$ 582,00</td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</body>
</html>
